In [ ]:
!pip install pandas
pip install seaborn
pip install matplotlib
pip install pandas_profiling
pip install pathlib
pip install ipywidgets

In [ ]:
pip install xgboost

In [ ]:
pip install sklearn

In [ ]:

pip uninstall xgboost

In [1]:
import pandas as pd                    #gestionar dataframes
import numpy as np  
import seaborn as sns
import matplotlib 
from pandas_profiling import ProfileReport
import pathlib
import xgboost as xgb
from xgboost import XGBRegressor
from xgboost import plot_importance
from matplotlib import pyplot
import matplotlib.pyplot as plt
import ipywidgets
import sklearn
%matplotlib inline

In [2]:
df = pd.read_csv(r"https://raw.githubusercontent.com/medinaltbx/G6_DP3/master/data/input/merged_data/train/merged_train.csv", sep=';' , decimal='.')

In [ ]:
df.drop(['customerid'], axis=1, inplace=True)

In [3]:
df=df.astype(int)

ValueError: invalid literal for int() with base 10: '8a858e135cb22031015cbafc76964ebd'

In [ ]:
print(df.head(3))

In [ ]:
profile = ProfileReport(df, title='Pandas Profiling Report for ', explorative=True, vars={"num": {"low_categorical_threshold": 0}} )

In [ ]:
profile.to_file("profile.html")

In [ ]:

X, y = df.drop(["good_bad_flag"],axis=1), df['good_bad_flag']

In [ ]:
model = xgb.XGBClassifier()
model.fit(X, y)
plot_importance(model)
plt.rcParams['figure.figsize'] = [100, 50]
plt.rc('legend', fontsize=16)
plt.show()

In [4]:
filtered_merged = pd.DataFrame(df, columns = ['customerid','good_bad_flag','edad', 'times_late', 'loannumber', 'totaldue', 'loanamount', 'bank_name_clients_GT Bank', 'times_loaned','employment_status_clients_Permanent', 'termdays','times_referred'])

In [5]:
filtered_merged

,good_bad_flag,edad,times_late,loannumber,totaldue,loanamount,bank_name_clients_GT Bank,times_loaned,employment_status_clients_Permanent,termdays,times_referred
0,1,48,0.0,2,13000.0,10000.0,1,1.0,0,30,1.0
1,0,36,1.0,2,13000.0,10000.0,0,1.0,1,30,0.0
2,1,35,2.0,4,13000.0,10000.0,0,3.0,0,30,0.0
3,1,30,1.0,2,11500.0,10000.0,1,1.0,1,15,0.0
4,1,31,2.0,6,24500.0,20000.0,0,5.0,1,30,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3267,0,39,0.0,3,11500.0,10000.0,1,2.0,1,15,0.0
3268,1,36,1.0,3,11500.0,10000.0,1,2.0,0,15,0.0
3269,1,38,3.0,11,44000.0,40000.0,0,10.0,0,30,0.0
3270,1,36,3.0,7,24500.0,20000.0,0,6.0,1,30,0.0
3271,1,39,0.0,2,11500.0,10000.0,1,1.0,0,15,1.0