In [2]:
!pip install pandas numpy xgboost

Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (1.20.3)
Requirement already satisfied: xgboost in /opt/conda/lib/python3.9/site-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: scipy in /opt/conda/lib/python3.9/site-packages (from xgboost) (1.6.3)

In [13]:
import pandas as pd
import pickle
import xgboost as xgb
import joblib

## Cargamos el modelo final y el set de test

In [16]:
final_model = joblib.load('/home/jovyan/work/data/output/best_model.pkl')

top_10_test = pd.read_csv("https://raw.githubusercontent.com/medinaltbx/G6_DP3/master/data/input/merged_data/test/top_10_test.csv",sep=';')

top_10_test.head()

,edad,times_late,loannumber,totaldue,loanamount,bank_name_clients_GT Bank,times_loaned,employment_status_clients_Permanent,termdays,times_referred
0,48,0,2,13000,10000,1,1,0,30,1
1,36,1,2,13000,10000,0,1,1,30,0
2,35,2,4,13000,10000,0,3,0,30,0
3,30,1,2,11500,10000,1,1,1,15,0
4,31,2,6,24500,20000,0,5,1,30,0

In [9]:
import sys
for p in sys.path: print(p)

/home/jovyan/work/notebooks/modeling
/opt/conda/lib/python39.zip
/opt/conda/lib/python3.9
/opt/conda/lib/python3.9/lib-dynload

/opt/conda/lib/python3.9/site-packages
/opt/conda/lib/python3.9/site-packages/IPython/extensions
/home/jovyan/.ipython